body{
	margin:0;
	padding: 0;
	font-family: 'Ubuntu',serif;

}

#global{

	width: 1200px;
	margin: auto;
	padding: 0;

}

#header{


	width: 100%;
	margin: auto;
	padding : 0;
}

#logoTop{

	height: 60px;
	float: left;
	padding-bottom: 30px;

}

#menu{


	display: inline-block;
	font-family: 'Raleway', serif;
	list-style-type: none;
	padding-left: 0;
	float: left;

}

#menu li{

	display: inline-block;
	padding:10px 10px 10px 10px;
	color: #000066;
	margin : -3px;

}

#menu li a {

	text-decoration: none;
	color: #000066;


}

#menu li:hover{

	color: white;
	background-color: #000066;
	height: 100%;





}

#menu li a:hover{

	color: white;


}

.bordered{

	border-left: 2px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;

}

#enveloppeMenu{

	display: inline-block;

}

#enveloppeMenu li{


	display: inline-block;
}


#largeimg{

	width: 100%;
}

#footer{
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
	padding: auto;
	background-color: #80bfff;
	position: absolute;
	/*bottom: 0;*/
	color: white;

}

#contenuFooter{
	width: 1000px;
	margin: 0 auto;
	padding: auto;
	text-align: center;

}

#blo1{
	width:66.67%;
}

#blo2{
	width:33.33%;


}

#bloc3{
	margin-top: 15px;


}

#image1{
	display: flex;

}
#image2{
	display: flex;
	margin-top: 15px;



}

#image-right{
	display: flex;
    flex-direction: column;
	margin-left: 21px;


}
.bas{
	margin-left: 21px;

}

.centeredText{

	text-align: center;

}

.centeredText h1{

		color: #000066;
		font-weight: 100;

}

.centeredText p{

		color: #a6a6a6;
		width: 75%;
		margin: auto;
		line-height: 140%;

}

.sep{

width: 150px;
background-color: #00ccff;
height: 3px;
margin: auto;
margin-bottom: 20px;


}

#presConteneur{

	display: flex;
	justify-content: center;


}

.presConteneur2{

	margin-left: 1%;
	margin-right: 1%;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background-color: #70cbf4;

}

.presElem p {

	color: white;


}
